@import "tufte.scss";

// $accent: #217800;
// $accent-light: rgba( $accent, .2 );
$dim:    #999;

@mixin small {
    @media only screen and (max-width: 760px) {
        @content;
    }
}

nav {
    font-style: italic;
    line-height: 2;
    #name {
        float: left;
        font-size: 1.4rem;
        margin-left: 0;
        a { text-decoration: none; }
    }
    #links {
        float: right;
        a + a { margin-left: 10px; }
    }
    @include small {
        #name, #links { float: none }
    }
}

img { border-radius: 3px; }

a:link, a:visited { color: inherit }
a:hover { color: $dim }

main { clear: both };

details.bibtex {
    margin: 1em 0;
    pre {
        max-width: 500px;
        overflow: scroll;
    }
}

pre { background-color: inherit !important };
html { scroll-behavior: smooth; }

.author.me { font-weight: bold; }
.paper-title { margin-bottom: 0; }

#news {
    // remove markdown paragraph spacing
    p { display: inline; margin: 0 }

    > ul {
        padding: 0;
        margin: 0;
        list-style: none;

        > li {
            > ul {
                padding-left: 40px;
                margin-bottom: 1em;
                list-style: disc;
                > li {
                    margin-top: 0.3em;
                }
            }
        }
    }
}

.comma-list {
    display: inline;
    padding: 0;

    li {
        display: inline;
        list-style: none;
        &:after { content: ", " }
        &:last-child:after { content: "" }
    }
}

footer {
    color: $dim;
    font-size: 50%;
}
