{% import "macros.html" as macros %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title> {% block title %} {{ config.title }} {% endblock title %} </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
          content="Max Willsey, PhD Student at the University of Washington">
    <meta property="og:title" content="Max Willsey" />
    <meta property="og:description" content="Max Willsey, PhD Student at the University of Washington" />
    <meta property="og:image" content="/assets/max.jpg" />
    <link rel="canonical" href="https://mwillsey.com">
    <link rel="stylesheet" href="/main.css">
</head>
<body>
  <nav>
    <div id="name">
      <a href="/">Max Willsey</a>
    </div>
    <div id="links">
      <a href="mailto:me@mwillsey.com">me@mwillsey.com</a>
      <a href="https://github.com/mwillsey">GitHub</a>
      <a href="https://twitter.com/mwillsey">Twitter</a>
      <a href="https://scholar.google.com/citations?user=zko9-RwAAAAJ&hl=en">Google Scholar</a>
    </div>
  </nav>
  <main>
    {% block content %}
      {{ section.content | safe }}
    {% endblock content %}
  </main>

  <footer>
    Site last updated on {{ now() | date(format="%Y-%m-%d") }}.
    Edit me on <a href="https://github.com/mwillsey/mwillsey.com/">Github</a>.
  </footer>

</body>
<script>
  (function() {
    window.counter = 'https://mwillsey.goatcounter.com/count'

    var script = document.createElement('script');
    script.async = 1;
    script.src = '//gc.zgo.at/count.js';
    var ins = document.getElementsByTagName('script')[0];
    ins.parentNode.insertBefore(script, ins)
  })();
</script>
</html>
